@media only screen and (min-width: 468px) and (max-width: 768px){

   


/*SECTION NAV*/
    .navbar {
        background-color: black;
        position: relative;
      }

    .navbar .wa {
          display: none;
      }
      
    .navbar .menu-bar {
           display: block;
           grid-column: 10;
           font-size: 2em;
           cursor: pointer;
           color: gold;
      }
      

      .navbar .menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color: black;
        transform: translateX(160%);
        transition: all 1s;
        margin-top: 40em;
        z-index: 1;
      } 

      .navbar .menu-toggle {
          transform: translateX(50%);

      }

/*SECTION CONTAINER*/
body {
    width: 100%;
    height: 100%;
    margin: 0%;
    min-height: 100vh;
    flex-wrap: wrap;
    
}

.hero {
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 100vh;
 flex-wrap: wrap;

}

.titleIndex {
        font-size: 68px;
    }


/* FOOTER*/
.footer {
    position: absolute;
    bottom: 0;
    align-self: flex-end;
}

.footer .escucha {
    display: none;
}

.footer .social-media {
    text-align: right;

}
/* SERVICIOS*/

.grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-bottom: 0;
   
}   

}   



@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }

}