@media only screen and (min-width: 468px) and (max-width: 768px){

    body {
        margin: 0;
        background-image: url(../img/flowers-interior-room-home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        max-width:100% ;
    
    }
  
 
/*SECTION NAV*/
header {
    position: fixed;
    z-index: 1000;
    
}


    .navbar {
        background-color: black;
        position: relative;
      }

    .navbar .wa {
          display: none;
      }
      
    .navbar .menu-bar {
           display: block;
           grid-column: 10;
           font-size: 2em;
           cursor: pointer;
           color: gold;
      }
      
  
      

      .navbar .menu {
        position: fixed;
        width: 145%;
        height: 51vh;
        display: grid;
        justify-content: start;
        align-items: center;
        background-color: black;
        transform: translateX(150%);
        transition: all 1s;
        margin-top: 32em;
        z-index: 1;
      } 

      .navbar .menu-toggle {
          transform: translateX(50%);

      }

/*SECTION CONTAINER*/

.hero {
 display: flex;
 flex-direction: column;
 height: 91vh;
     
}

.infoContent h1 .titleIndex {
       font-size: 50px;
       
}


/* SERVICIOS*/

.grid-box { 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 100vh;
    overflow-y: scroll;
              
} 


.grid-box .box1{
    scroll-snap-align: start;
    min-height: 44vh;
}

.grid-box .box2{
    scroll-snap-align: start;
    min-height: 44vh;
}

.grid-box .box3{
    scroll-snap-align: start;
    min-height: 44vh;
}

.grid-box .box4{
    scroll-snap-align: start;
    min-height: 44vh;
}


/* PORFOLIO*/

.grid-portfolio {
    background-image: none;
    background-color: rgb(250, 193, 7);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

/* NOSOTROS*/
.grid-nosotros {
 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    padding: 50px;
    height: 175vh;
    overflow-y: scroll;
   
 }

 .grid-nosotros .persona1{
    scroll-snap-align: start;
    min-height: 40vh;
}

.grid-nosotros .persona2{
    scroll-snap-align: start;
    min-height: 40vh;
}
.grid-nosotros .persona3{
    scroll-snap-align: start;
    min-height: 35vh;
}

.grid-nosotros .persona4{
    scroll-snap-align: start;
    min-height: 40vh;
}

 /* FORM*/
.grid-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 100px;
    
 }


/* FOOTER*/
.footer {
    position: fixed;
    bottom: 0;
}

.footer .escucha {
    display: none;
}

.footer .social-media {
    text-align: right;

}

}   



@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }

}