/*tipografias*/
/*BODY - HEADER*/
.navbar {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}
.navbar .logo {
  width: 150px;
  height: 45px;
  grid-column: 2/3;
  cursor: pointer;
}

.menu {
  grid-column: 4/9;
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
.menu li a {
  text-decoration: none;
  color: gold;
  cursor: pointer;
}
.menu li a:hover {
  color: white;
}

/*MAIN - CONTAINERS*/
.grid-container {
  height: 87vh;
  background-image: url(../img/flowers-interior-room-home.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative;
}
.grid-container .infoContent {
  grid-column: 4/8;
  grid-row: 4/7;
  color: white;
  z-index: 1;
}

.grid-box {
  height: 87vh;
  background-image: url(../img/flowers-interior-room-home.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas: "box1 box2 box3 box4";
  grid-area: grid-box;
  position: relative;
}
.grid-box .box1 {
  grid-area: box1;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 3;
  grid-row: 2;
}
.grid-box .box1:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box1:hover .box1:active {
  transform: translateY(3px);
}
.grid-box .box2 {
  grid-area: box2;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 4;
  grid-row: 2;
}
.grid-box .box2:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box2:hover .box2:active {
  transform: translateY(3px);
}
.grid-box .box3 {
  grid-area: box3;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 5;
  grid-row: 2;
}
.grid-box .box3:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box3:hover .box3:active {
  transform: translateY(3px);
}
.grid-box .box4 {
  grid-area: box4;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 6;
  grid-row: 2;
}
.grid-box .box4:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box4:hover .box4:active {
  transform: translateY(3px);
}

.grid-nosotros {
  height: 87vh;
  background-image: url(../img/flowers-interior-room-home.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas: "persona1 persona2 persaona 3 persona4";
  grid-area: grid-nosotros;
  position: relative;
}
.grid-nosotros .persona1 {
  grid-area: persona1;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 3/5;
  grid-row: 1;
}
.grid-nosotros .persona1:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-nosotros .persona1:hover .pesona1:active {
  transform: translateY(3px);
}
.grid-nosotros .persona2 {
  grid-area: persona2;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 6/8;
  grid-row: 1;
}
.grid-nosotros .persona2:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-nosotros .persona2:hover .persona2:active {
  transform: translateY(3px);
}
.grid-nosotros .persona3 {
  grid-area: persona3;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 3/5;
  grid-row: 2;
}
.grid-nosotros .persona3:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-nosotros .persona3:hover .persona3:active {
  transform: translateY(3px);
}
.grid-nosotros .persona4 {
  grid-area: persona4;
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  text-align: center;
  grid-column: 6/8;
  grid-row: 2;
}
.grid-nosotros .persona4:hover {
  background-image: gold;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-nosotros .persona4:hover .persona4:active {
  transform: translateY(3px);
}

.grid-form {
  height: 87vh;
  background-image: url(../img/flowers-interior-room-home.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: row;
  position: relative;
}
.grid-form .form {
  grid-column: 4/7;
  grid-row: 2;
}
.grid-form .form .row {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, rgba(255, 220, 103, 0.0156862745));
}

/*MAPS*/
.facebook {
  color: red;
}

.instagram {
  color: green;
}

.twitter {
  color: gold;
}

/*TITULOS Y PARRAFOS*/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: gold;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

p {
  font-size: 0.8 rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.whiteText {
  font-size: 1 rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.imagen1 {
  border-radius: 20px;
}

/*BTN INDEX*/
.btn-centro {
  display: grid;
  place-content: center;
}
.btn-centro .btn {
  font-size: 1em;
  background: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid gold;
  border-radius: 15px;
  margin-top: 10px;
}
.btn-centro .btn:hover {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  color: black;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.btn:active {
  transform: translateY(3px);
}

/*# sourceMappingURL=style.css.map */
