/*tipografias*/
/*BODY - HEADER*/
.navbar {
  max-width: 100;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}
.navbar .logo {
  width: 150px;
  height: 45px;
  cursor: pointer;
}

.logoArgen {
  grid-column: 3/4;
}

.menu {
  grid-column: 4/9;
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
.menu li a {
  text-decoration: none;
  color: gold;
  cursor: pointer;
}

.menu-bar {
  display: none;
}
.menu-bar .fa-solid {
  font-size: 1.5em;
  margin-right: 15px;
  cursor: pointer;
}

.wa {
  grid-column: 10;
  color: gold;
  margin-left: 10px;
  cursor: pointer;
}
.wa:hover {
  color: white;
}

/*MAIN - CONTAINERS*/
.hero {
  margin-top: auto;
  width: 100%;
  height: 88vh;
  background-image: linear-gradient(90deg, rgba(6, 6, 6, 0.6839110644) 0%, rgba(101, 101, 101, 0.2973564426) 91%, rgba(144, 144, 144, 0.3673844538) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoContent {
  text-align: center;
}
.infoContent .titleIndex {
  font-size: 100px;
  color: gold;
  font-weight: 600;
  transition: 0.5s;
}
.infoContent .titleIndex:hover {
  -webkit-text-stroke: 2px gold;
  color: transparent;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.infoContent .btn {
  font-size: 1em;
  background: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid gold;
  border-radius: 100 px;
  margin-top: 10px;
}
.infoContent .btn .btn:hover {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  color: black;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.infoContent .btn .btn:active {
  transform: translateY(3px);
}

.btn-centro {
  display: grid;
  place-content: center;
}

body h1 {
  text-align: center;
}

.grid-box {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 150px;
  margin-right: 150px;
  height: 87vh;
  max-width: 100%;
}
.grid-box .box1 {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, rgba(255, 220, 103, 0.0156862745));
  text-align: center;
  border-radius: 10px;
  width: 200px;
  margin-top: 80px;
  margin-bottom: 280px;
  background-size: cover;
}
.grid-box .box1:hover {
  background-image: gold;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box1:hover .box1:active {
  transform: translateY(3px);
}
.grid-box .box2 {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, rgba(255, 220, 103, 0.0156862745));
  text-align: center;
  border-radius: 10px;
  width: 200px;
  margin-top: 80px;
  margin-bottom: 280px;
  background-size: cover;
}
.grid-box .box2:hover {
  background-image: gold;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box2:hover .box2:active {
  transform: translateY(3px);
}
.grid-box .box3 {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, rgba(255, 220, 103, 0.0156862745));
  text-align: center;
  border-radius: 10px;
  width: 200px;
  margin-top: 80px;
  margin-bottom: 280px;
  background-size: cover;
}
.grid-box .box3:hover {
  background-image: gold;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box3:hover .box3:active {
  transform: translateY(3px);
}
.grid-box .box4 {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, rgba(255, 220, 103, 0.0156862745));
  text-align: center;
  border-radius: 10px;
  width: 200px;
  margin-top: 80px;
  margin-bottom: 280px;
  background-size: cover;
}
.grid-box .box4:hover {
  background-image: gold;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.grid-box .box4:hover .box4:active {
  transform: translateY(3px);
}

.grid-box {
  display: flex;
}
.grid-box .title2 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid-form {
  height: 87vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 150px;
}
.grid-form .form .row {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, rgba(255, 220, 103, 0.0156862745));
}

/*FOOTER*/
.footer {
  display: grid;
  position: fixed;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: black;
  color: white;
  bottom: 0;
  grid-template-areas: "listen-online escucha social-media";
}
.footer .listen-online {
  grid-template-areas: listen-online;
  display: flex;
  justify-content: center;
  background-color: gold;
  padding: 26px;
  color: black;
}
.footer .listen-online .fa-solid {
  font-size: 1.5em;
  margin-right: 15px;
  cursor: pointer;
}
.footer .listen-online .fa-solid .escucha {
  grid-template-areas: escucha;
  text-align: center;
}

.social-media {
  grid-template-areas: social-media;
  font-size: 1.3em;
}
.social-media .fa-brands {
  margin-right: 15px;
  color: gold;
}
.social-media .fa-brands:hover {
  color: white;
}

/*MAPS*/
.facebook {
  color: red;
}

.instagram {
  color: green;
}

.twitter {
  color: gold;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(../img/flowers-interior-room-home.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*TITULOS Y PARRAFOS*/
h1 {
  font-family: sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
}
h1 .titleIndex {
  font-size: 2rem;
  color: gold;
  text-align: center;
  padding: 0;
}

.title {
  grid-column: 5;
  grid-row: 1;
}

.title2 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: -2px -2px 2px rgb(26, 24, 24);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: rgb(7, 7, 7);
}

p {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

.whiteText {
  font-size: 1 rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  stroke: aliceblue;
}

.imagen1 {
  border-radius: 100px;
}

.card-img-top {
  border-radius: 100px;
  padding-top: 15px;
}

a {
  color: gold;
}
a:hover {
  color: white;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: rgb(7, 7, 7);
}

/*BTN INDEX*/
.btn-centro {
  display: grid;
  place-content: center;
}
.btn-centro .btn {
  font-size: 1em;
  background: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid gold;
  border-radius: 15px;
  margin-top: 10px;
}
.btn-centro .btn:hover {
  background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
  color: black;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.btn:active {
  transform: translateY(3px);
}

/*# sourceMappingURL=style.css.map */
