/*MAIN - CONTAINERS*/



@mixin boxes {
    background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc6704);
    text-align: center;
    border-radius: 10px;
    width: 200px;
    margin-top: 80px;
    margin-bottom: 280px;
    background-size: cover;
         
}

@mixin boxeshover {
    background-image: gold;
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(-10px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    
}


.hero {
    margin-top: auto;
    width: 100%;
    height: 88vh;
    background-image: linear-gradient(90deg, rgba(6,6,6,0.6839110644257703) 0%, rgba(101,101,101,0.29735644257703087) 91%, rgba(144,144,144,0.36738445378151263) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.infoContent {
    text-align: center;

.titleIndex {
     font-size: 100px;
     color: gold;
     font-weight: 600;
     transition: 0.5s;

  &:hover {
  -webkit-text-stroke: 2px gold;
   color: transparent;
     }

 }   

}


.back-video{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    
}


.infoContent {
          .btn{ 
            font-size: 1em;
            background: none;
            color: white;
            padding: 10px 20px;
            border: 1px solid gold;
            border-radius: 100 px;
            margin-top: 10px; 

            .btn:hover {
                background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
                color: black;
                cursor: pointer;
                transform: translateY(-3px);
                transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
            }

            .btn:active {
                transform: translateY(3px);
            }
            
          }

   }



.btn-centro {
    display: grid;
    place-content: center; 
}



//SERVICIOS //
body {
    h1 {
        text-align: center;
    }
}


.grid-box {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
    height: 87vh;
    max-width:100% ;
 
    
        .box1{
           @include boxes ();
          
            &:hover {
            @include boxeshover();              

            .box1:active {
                    transform: translateY(3px);
                }
                
            }
        }
    
        .box2{
            @include boxes ();

            &:hover {
            @include boxeshover();              

            .box2:active {
                    transform: translateY(3px);
                }
                
            }
        }

        .box3{
            @include boxes ();

            &:hover {
            @include boxeshover();              

            .box3:active {
                    transform: translateY(3px);
                }
                
            }
        }
        .box4{
            @include boxes ();

            &:hover {
            @include boxeshover();              

            .box4:active {
                    transform: translateY(3px);
                }
                
            }
        }
   }


.grid-box {
    display: flex;
    .title2 {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

}
   

   
//PORTFOLIO y FORMULARIO//


.grid-form {
    height: 87vh;
    max-width: 100% ;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;


    .form {     

        .row {
            background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc6704);
        }
    
    }

}
    
/*FOOTER*/

.footer {
    display: grid;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: black;
    color: white;
    bottom: 0;
    grid-template-areas: 
    "listen-online escucha social-media";

    .listen-online {
        grid-template-areas: listen-online;
        display: flex;
        justify-content: center;
        background-color: gold;
        padding: 18px;
        color: black; 
      
        
                .fa-solid  {
                font-size: 1.5em;
                margin-right: 15px;
                cursor: pointer;

                .escucha {
                    grid-template-areas: escucha;
                    text-align: center;
                }
                
            }
        }
    
}


.social-media {
    grid-template-areas: social-media;
    font-size: 1.3em;

    .fa-brands  {
        margin-right: 15px;
        color: gold;

        &:hover  {
            color: white;    
          }
         
     
     }

}




