/*MAIN - CONTAINERS*/
@mixin contenedor {
    height: 87vh;
    background-image: $backgound-image;
    background-size: cover;
    max-width:100% ;
    display: grid;
}


.grid-container {
    @include contenedor();
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat( 8,1fr);
    position: relative;

    .info-content {
        grid-column: 4 / 8;
        grid-row: 4 / 7;
        color: white;
        z-index: 1;
   }
}