/*BODY - HEADER*/




.navbar {
    background-color: $color-navbar;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
  

    .logo {
        width: 150px;
        height: 45px;
        cursor: pointer;   

    }

  

}
    
.logoArgen {
    grid-column: 3 / 4; 
    
}

.menu {
        grid-column: 4 / 9;
        display: flex;
        justify-content: space-around;
        
        li {
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            
            a{
                text-decoration: none;
                color: gold;
                cursor: pointer;    

        
            
            }
        
     }
 }    


 .menu-bar{
    display: none;

    .fa-solid  {
        font-size: 1.5em;
        margin-right: 15px;
        cursor: pointer;
    }
        
}

.wa {
    grid-column: 10;
    color: gold;
    margin-left: 10px;
    cursor: pointer;

    &:hover{
        color: white
    }
    
}



