// Paleta de colores:
$color-navbar: black;

//margen
$margen-top: 0;

//separaciones
$separacion-margen: 50px;
$separacion-padding: 20px;

//media queries:
$desktop: 992px;
$tablet: 768px;
$movil: 600px;