@import "tipografia";
@import "variables";
@import "header";
@import "background";
@import "containers";
@import "maps";



$margin: 0;
$padding: 0;
$box-sizing: border-box;

$max-width:100% ;

/*TITULOS Y PARRAFOS*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: gold;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

p{
    font-size: 0.8 rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.whiteText {
    font-size: 1 rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.imagen1 {
    border-radius: 20px;
}


/*BTN INDEX*/

.btn-centro {
        display: grid;
        place-content: center; 

        .btn {
            
            font-size: 1em;
            background: none;
            color: white;
            padding: 10px 20px;
            border: 1px solid gold;
            border-radius: 15px;
            margin-top: 10px;

            &:hover {
                background-image: linear-gradient(to top right, #fbd34c, #fa9905, #ffdc67);
                color: black;
                cursor: pointer;
                transform: translateY(-3px);
                transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
              }
          }

}

  
.btn:active {
    transform: translateY(3px);
}  
